body{
	margin: 0;
	background: #333;
	background-position: center;
	font-family: sans-serif;
}
.signupbox
{
	width: 320px;
	height: 500px;
	background:#000;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 60px 30px;
}

.avatar
{
	width: 100px;
	height: 100px;
	position: absolute;
	border-radius: 50px;
	top: -50px;
	left: 110px;
}

h1
{
	margin-top: 10px;
	text-align: center;
	padding: 0 0 20px;
	font-size: 22px;
}

.signupbox p
{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.signupbox input
{
	width: 100%;
	margin-bottom: 20px;
}

.signupbox input[type="text"], [type="password"]
{
	border:none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.signupbox input[type="submit"]
{
	border:none;
	outline: none;
	height: 40px;
	background:#fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

.signupbox input[type="submit"]:hover
{
   cursor: pointer;
   background:#ffc107;
   color: #000;
}

.signupbox a
{
	text-decoration: none;
	font-size: 12px;
	line-height: 10px;
	color: darkgrey;
}

.signupbox a:hover
{
	color: #ffc107;
}

.info
{
	position: absolute;
	top: 10%;
	left: 806px;
	display: none;
	background: #f1f1f1b3;
	color: #333;
	margin: 10px 10px;
	font-size: 15px;
	z-index: 9999;
}



















